@use "sass:color";
@use "@/styles/scss/abstracts" as *;

.banner {
  height: 40vh;
  min-height: 16rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: white;

  h1 {
    margin: 0.5rem 0;
    font-size: 2.8em;
    font-weight: 400;
    color: color.adjust($brandColor, $lightness: 35%);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p {
    font-size: 1.2rem;
  }
}
